.list {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 20px;
  border-radius: 4px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;

  background-color: rgb(220, 255, 210);
  border: 1px solid rgb(0, 0, 0);

  font-weight: 600;
  font-size: 1.2em;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Iceland;
  color: #228dff;
}

.contact {
  margin-right: 30px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;

  padding: 5px 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  font-weight: bold;

  line-height: 1;
  letter-spacing: 0.06em;
  background-color: white;

  text-align: center;
  font-size: 1em;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Iceland;
  color: #228dff;
  background-color: #166a1e;
}

.btn:hover,
.btn:focus {
  background-color: #228dff;
  color: #fff;
  transform: scale(1.1);
  transition: all 250ms;
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'),
    url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff)
      format('woff');
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
