@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'),
    url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff)
      format('woff');
}

.logOutBtn {
  border-radius: 4px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;

  text-align: center;
  font-size: 1.5em;
  /* margin: 20px 0 20px 0; */
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Iceland;
  color: #228dff;
}

.logOutBtn:hover,
.logOutBtn:focus {
  background-color: #228dff;
  color: #fff;
  transform: scale(1.1);
  transition: all 250ms;
}

.userMenuContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userName {
  font-size: 1.5em;
  font-weight: 600;
  font-family: Iceland;
  color: #228dff;
}
